<header #pageheader class="pageheader">
  <div #headerpicture class="headerpicture" [ngStyle]="{'background-image': 'url(' + pathImg + ') '}"></div>
  <mat-toolbar #toolbar class="scroll" color="primary" fxLayout="row" fxLayoutAlign="start">
    <div fxFlex class="toolbar-tools">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span #headertitle fxFlex>{{character.name}}</span>
      <button mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div #mainfab class="main-fab">
    <!-- <button mat-icon-button><mat-icon>star</mat-icon></button> -->
    <button mat-fab>
      <mat-icon>star</mat-icon>
    </button>
  </div>
</header>
<br />
<br />
<section id="page-section">
  <div class="content" fxLayout="column">
    <!-- <div>
      <p class="description">{{character.description}}</p>
      <div>

      </div>
    </div> -->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>{{character.description}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <section fxLayout="column">
      <p class="title-section">Comics</p>
      <div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-card fxFlex="25%" *ngFor="let comic of comics">
          <img matCardImage [src]="getUrlImg(comic.thumbnail)">
          <mat-card-header>
            <mat-card-title>{{comic.title}}</mat-card-title>
            <mat-card-subtitle>{{comic.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-footer fxLayout="row" fxLayoutAlign="end center">
            <button mat-button color="accent" (click)="openDetails(comic)">Details</button>
          </mat-card-footer>
        </mat-card>
      </div>
      <button mat-button color="accent" (click)="onClick">Load more</button>
    </section>
    <!-- <mat-card>
      <mat-card-header>
        <mat-card-title>Comics</mat-card-title>
        <mat-card-subtitle>{{character.name}} has {{character.comics.returned}} comics</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
        <div class="comic" *ngFor="let comic of character.comics.items" fxFlex="25%">
          <span>{{comic.name}}</span>
          <img [src]="comic.resourceURI">
        </div>
      </mat-card-content>
    </mat-card> -->

    <!-- <mat-card>
          <mat-card-header>
              <mat-card-title>Title</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage src="Card wide image source">
          <mat-card-content>
              Text content
          </mat-card-content>
          <mat-card-actions align="start">
              <button mat-button (click)="onAction1">Action1</button>
              
          </mat-card-actions>
          <mat-card-footer>
              Footer
          </mat-card-footer>
      </mat-card> -->
  </div>
</section>