<app-input-search [actionsearch]="searchCharacter.bind(this)"  placeholder="Search"></app-input-search>
<div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayout.xs="column" fxLayoutGap="10px">
    <mat-card (click)="showDetail(character)" class="card-characters" fxFlex="25%" *ngFor="let character of characters" >
        <img matCardImage [src]="getUrlImg(character)">
        <mat-card-header>
            <mat-card-title>{{character.name}}</mat-card-title>
            <mat-card-subtitle>{{character.description}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>