<div *ngIf="loading" class="spinner" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
</div>

<div>
    <app-input-search [actionsearch]="searchCharacter.bind(this)" placeholder="Search"></app-input-search>
    <div class="list-scroll" fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayout.xs="column" fxLayoutGap="10px" data-infinite-scroll
        debounce [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" (scrolled)="onScrollDown()" [scrollWindow]="false">
        <mat-card (click)="showDetail(character)" class="card-characters" fxFlex="25%" *ngFor="let character of characters">
            <img matCardImage [src]="getUrlImg(character)">
            <mat-card-header>
                <mat-card-title>{{character.name}}</mat-card-title>
                <mat-card-subtitle>{{character.description}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>