<div style="padding: 50px;">
  <mat-card fxLayout="row" class="card-favorites"  class="card-characters" fxFlex="25%" *ngFor="let character of characters">
    <img [src]="getUrlImg(character)">
    <div fxFlex fxLayout="column">
      <div class="card-content">
        <mat-card-title>{{character.name}}</mat-card-title>
        <mat-card-subtitle>{{character.description}}</mat-card-subtitle>
      </div>
      <mat-divider style="position: relative;"></mat-divider>
      <div class="card-actions" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button color="warn" (click)="delete(character)">DELETE</button>
        <button mat-button color="primary" (click)="showDetail(character)">DETAILS</button>
      </div>
    </div>
  </mat-card>
</div>