.card-favorites {
    padding: 0px;
    margin-top: 10px !important;
}
.card-favorites img {
    height: 200px;
    width: 200px;
}
.card-content {
    padding: 10px 14px 0;
}

.card-actions {
    padding: 8px 0;
}

mat-card-subtitle.mat-card-subtitle {
    height: 80px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}